[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pronouncing = "0.2.0"
flask = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
flask_wtf = "*"
gunicorn = "*"
markovify = "*"
wtforms = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
