[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmudict = "*"
flask = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
flask_wtf = "*"
gunicorn = "*"
wtforms = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
