<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body class="error-page">

    <h1>FAQ</h1>
    
   <ul>
       <li class="q-and-a">
            <p class="question">Will I get the same poem again if I put in the same word again?</p>
            <p class="answer">No. At least, it's <i>very, very, very</i> unlikely. Each time you refresh the poem page or submit a word, the inspiration-generator is at work anew.</p>
       </li>

       <li class="q-and-a">
            <p class="question">Where does the data come from??</p>
            <p class="answer">The <a href="https://github.com/aparrish/gutenberg-poetry-corpus">Gutenberg Poetry Corpus</a>, put together by <a href="https://www.decontextualize.com/">Allison Parrish</a>. Check out her other work on machine-generated poetry!</p>
       </li>

       <li class="q-and-a">
            <p class="question">Why doesn't my poem... have the word I put in as part of its text / rhyme with the word I put in anywhere / seem to have anything to do with the word I put in?</p>
            <p class="answer">The word you put in to this site simply <i>inspires</i> the generator &mdash; no promises as to how that shows up in the result. Inspiration is complicated.</p>
       </li>

        <li class="q-and-a">
            <p class="question">Why does it take so long?</p>
            <p class="answer">Like it says, art takes time. If you know me personally, feel free to ask me for more of a story. It's not very interesting, but it is pretty silly. Anyway, at the moment the page will need to load for a little bit before you see your poem.</p>
        </li>

        <li class="q-and-a">
            <p class="question">Why isn't there {insert thing you think the site should have} ?</p>
            <p class="answer">Either because I didn't make that happen yet, I didn't think of it, or because I'm not going to. :) If you know me personally feel free to make a suggestion, though! I'll probably continue adding features and modifications as long as it's still fun.</p>
        </li>

        <li class="q-and-a">
            <p class="question">But it would be clearer if you added a progress bar while the page was loading.</p>
            <p class="answer">I know. I will. Or something like it.</p>
        </li>
        <!-- <li class="q-and-a">
            <p class="question"></p>
            <p class="answer"></p>
        </li> -->

   </ul>

    <br><br>
    <p class="info-click"><a href="/" class="back-button">Go back home</a></p>
    <br><br>

</body>